<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <style>
        body{font-family:SimSun;}
        .title{align-content: center;text-align: center;}
        .signature{float:right }

        .td1{ width: 92px;
            text-align: center;}

    </style>
</head>
<body>
<div>
    <h1 class="title">产品维修信息反馈表</h1>
    <span>NO.</span>
    <table border="1" style=" border-collapse: collapse;">
        <tbody><tr><td class="td1">报修单位</td><td><img src="images/true.png"></img></td><td></td><td></td><td>报修日期</td><td></td></tr>
        <tr><td class="td1">联系人</td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="td1">机器型号</td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td class="td1">出厂日期</td><td></td><td></td><td></td><td></td><td>   </td></tr>
        <tr><td class="td1">返厂维修</td><td>  顾客现场维修</td><td></td><td></td><td>保内维修 </td><td>保外维修</td></tr>
        <tr><td class="td1">故障现象</td><td>售后管理员/日期:</td><td></td><td></td><td>售后工程师/日期:</td><td></td></tr>
        <tr><td>故障原因</td><td></td><td></td><td>售后工程师/日期:</td><td></td><td></td></tr>
        <tr><td>维修方案</td><td>售后工程师签名/日期:</td><td></td><td>方案确认</td><td>保外客户确认意见:</td><td></td></tr>
        <tr><td>维修实施</td><td>售后工程师签名/日期:</td><td></td><td></td><td></td><td></td></tr>
        <tr><td>处置结果</td><td>售后管理员(或客户)签名/日期:</td><td></td><td></td><td></td><td></td></tr>
        </tbody></table>
</div>
</body>
</html>