<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>吴小双代购</title>
	<style type="text/css">
		*{margin:0;padding:0;}
		html,body{height:100%;}
		.bgimage{
			background: url("images/hongkong.jpg") no-repeat;
			height:100%;width:100%;
			background-size:100% 100%;
		}
	</style>
</head>
<body>
	<div class="bgimage">
	</div>
	<div style="
					display: block;
					margin-top: -256px;
					font-size: 45px;
					color: #f63176;font-weight: bold;
					">
		<span style="margin-right: 10%;float: right;">下次过港时间 2023-03-20</span>
	</div>
	<div>
		<input type="button" value="开始下单" style="
					width: 160px;
					height: 60px;
					font-size: 25px;
					font-family: monospace;
					font-weight: bold;
					margin-left: 80%;
					margin-top: 50px;
					border-radius: 15px;
					margin-right: 10%;float: right;
				"/>
	</div>
</body>
</html>
